version: "3.9"

services:
  backend:
    build:
      context: ..
      dockerfile: docker/backend.Dockerfile
    container_name: sweg_backend
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ..
      dockerfile: docker/frontend.Dockerfile
    container_name: sweg_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
